.vs/
bin/
obj/
/GerenciadorDeJogos/obj
GerenciadorDeJogos/.vs/GerenciadorDeJogos/CopilotIndices/17.14.1661.41761/CodeChunks.db
GerenciadorDeJogos/.vs/GerenciadorDeJogos/CopilotIndices/17.14.1661.41761/SemanticSymbols.db
GerenciadorDeJogos/appsettings.json
