<!--Div auxiliar para centralizar o carrossel-->
<div class="text-center">

 <h1 class="display-4">Jogos</h1>
    <!--Div para o carrossel-->

    <div class="text-center d-flex justify-content-center align-items-center">
        <!--Carrossel-->

            <partial name="_Carousel" />

    </div>

</div>

