<div class="text-center">

 <h1 class="display-4">Jogos</h1>

    <div class="text-center d-flex justify-content-center align-items-center">
       
            <partial name="_Carousel" />

    </div>

</div>

