@* 
Esse é o arquivo de visualização para a página inicial do site. Ele utiliza o layout principal definido em _Layout.cshtml 
e inclui um carrossel de jogos, que é renderizado através de um partial view chamado _Carousel.cshtml. A página exibe um 
título "Jogos" e centraliza o conteúdo do carrossel na tela.
*@
<!--Div auxiliar para centralizar o carrossel-->
<div class="text-center">

 <h1 class="display-4">Jogos</h1>
    <!--Div para o carrossel-->

    <div class="text-center d-flex justify-content-center align-items-center">
        <!--Carrossel-->

            <partial name="_Carousel" />

    </div>

</div>

